html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

h1 {
  color: red;
}
main{
  padding: 20px;
}


