.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  padding: 20px;

  .links {
    height: 100%;
    fill: black;
    font-family: "Times New Roman";
  }

  a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    &.active,
    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}